name: checks

on:
  pull_request: 
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: lint
        run: go tool github.com/golangci/golangci-lint/v2/cmd/golangci-lint run
      - name: unit tests
        run: |
          go test ./...


